:root {
  --blue: rgb(12, 131, 155);
  --red: #a41034;
  --purple: rgb(183, 148, 250);
  --yellow: rgb(245, 229, 91);
  --green: rgb(136, 194, 19);
  --white: rgb(231, 231, 222);
  --black: #100e0e;
}

body {
  background-color: var(--black);
  color: var(--white);
}
nav {
  /* background-color: var(--purple); */
  color: var(--white);
}

#navbarNav a:hover {
  border-bottom: 3px solid var(--red);
}

#navbarNav a.active {
  border-bottom: 3px solid var(--red);
}

#elevatorPitch {
  justify-self: center;
  align-self: center;
}
button {
  padding: 5px;
  background-color: var(--red); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button a {
  color: white;
}
#sticky-footer {
  background-color: var(--red);
  flex-shrink: none;
}

.container-fluid {
  margin-bottom: 80px; /*Same as footer height */
}
